.DS_Store
*.pyc
*.egg-info
*.swp
tags
ugandan_university_education/docs/current
dist/
__pycache__/
node_modules
ugandan_university_education/public/frontend
ugandan_university_education/www/education.html
ugandan_university_education/www/student-portal.html
./node_modules
