include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ugandan_university_education *.css
recursive-include ugandan_university_education *.csv
recursive-include ugandan_university_education *.html
recursive-include ugandan_university_education *.ico
recursive-include ugandan_university_education *.js
recursive-include ugandan_university_education *.json
recursive-include ugandan_university_education *.md
recursive-include ugandan_university_education *.png
recursive-include ugandan_university_education *.py
recursive-include ugandan_university_education *.svg
recursive-include ugandan_university_education *.txt
recursive-exclude ugandan_university_education *.pyc
